@inherits LayoutComponentBase

<ErrorBoundary>
    <ChildContent>
        @Body
    </ChildContent>
    <ErrorContent>
        <p>「@context.Message」</p>
        <p> @context.StackTrace</p>
    </ErrorContent>
</ErrorBoundary>
