@page "/"
@inherits PageBase

<PageTitle>BlazorSample</PageTitle>

<NavMenu />
<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>BlazorSample</h2>
                <ol>
                    <li><NavLink href="">Home</NavLink></li>
                    <li>Home</li>
                </ol>
            </div>

        </div>
    </section>

    <div class="container">

        <div class="section-title">
            <h2>Blazorのサンプルです</h2>
            <p>こちらのサイトを参考にしてください</p>
            <br />
            <p><a target="_blank" href="https://mulogical.com/">Program and Music トップページ</a></p>
            <br />
            <p><a target="_blank" href="https://mulogical.com/?p=1629">Blazor – 画面レイアウトに埋め込む</a></p>
            <br />
            <p><a target="_blank" href="https://mulogical.com/?p=1641">Blazor – JQueryの実行</a></p>
            <br />
            <p><a target="_blank" href="https://mulogical.com/?p=1658">Blazor – selectでonchangeを使う方法</a></p>
            <br />
            <p><a target="_blank" href="https://mulogical.com/?p=1689">Blazor – ラジオボタン</a></p>
        </div>
        
    </div>
</main>
<Footer />

@code {
    
}


